/*html, body, section, article, h1, h2, p {
  margin: 0;
  border: 0;
  padding 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}*/

/* line 4, /Users/Leland/Desktop/appacademy/samefrequency/app/assets/stylesheets/static_pages.scss */
h1, h2 {
  font-family: 'Lobster', cursive;
}

/* line 8, /Users/Leland/Desktop/appacademy/samefrequency/app/assets/stylesheets/static_pages.scss */
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
  margin-top: 10px;
  padding-bottom: 50px;
  background-color: white;
  opacity: 0.85;
  border-radius: 20px;
}

/* line 24, /Users/Leland/Desktop/appacademy/samefrequency/app/assets/stylesheets/static_pages.scss */
.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

