// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
  font-family: 'Lobster', cursive;
  margin: 0;
}

html, body, ul, div {
  font-family: 'Lato', sans-serif ;
  margin: 0;
}

html, body, label, button {
  font-size: 16px;
}

ul, li {
  margin-right: 0.5vw;
}

label {
  text-align: left;
}

.splash-title {
  margin-top: 3vh;
  h1 {
    margin-bottom: 1vh;
  }
}

.splash-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.splash-modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
  margin-top: 10vw;
  padding-bottom: 2vw;
  background-color: #dad8d8;
  opacity: 0.85;
  border-radius: 5px;

}

.video {
 position: fixed;
 top: 50%; left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
 z-index: -1;
}

#demo-login-btn {
  margin-left: 0.5vw;
}

.new-user-div {
  cursor: pointer;
  margin: 0.5vw;
}
.greeting-container{
  display: flex;
  flex-direction: column;
}
.navbar-user-info {
  cursor: pointer;
  display:flex;
  flex-direction: column;
  align-items: center;
  img {
    align-items: center;
    height:64px;
    width:64px;
    margin-bottom: 0.8vh;
  }
}

.navbar-user-info:hover {
  color: #5e5e5e;
}


.navbar-logo-container{

  .navbar-logo {
    margin-top: 1.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  .navbar-logo-text{
    font-family: 'Lobster', cursive;
    color: rgb(119, 119, 119);
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 6vh;
  }
}

.navbar-brand-container {
  display: block;
  height: 70vh;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.3vw;
}

#hidden {
  max-width:30vw;
  height: 100vh;
  z-index: -1;
}
.navbar
{
  position: fixed;
	width:20vw;
  height: 100vh;
	margin-right: 0;
	margin-left: 0;
  background: #F2F5F8;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

.navbar-search-container {
  display: flex;
  margin-bottom: 6vh;

  .search-icon {
      width: 32px;
      height: 32px;
      margin-right: 0.7vw;
      object-fit: fill;
      background-color: Transparent;
      border: none;
      background-image: url("https://res.cloudinary.com/heab4q3lg/image/upload/v1495819283/search-2.png");
      span {
        display: none;
      }
    }
}

.navbar-info {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
}

.navbar-info-listen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .navbar-info-first-line{
    align-items: center;
    display: flex;
    img {
      padding-left: 0.4vw;
    }
  }
  p {
    margin: 0;
  }
}


.edit-user-form{
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-bottom: 4vh;
  }
  .icon-choice{
    border: 2px solid Transparent;
  }

  .icon-choice:hover {
    border-color: #5cb3fd;
    cursor: pointer;
  }

  .icon-choice-active{
    border-color: #5cb3fd;
    box-shadow: 5px 5px 5px #888888;
  }

}

.show-user-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  .show-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    img {
      margin-bottom: 6vh;
    }
  }
  a:hover {
    cursor: pointer;
  }
  h2 {
    text-align: center;
    padding-bottom: 8vh;
  }
}
.close {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  }
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=0);
}

.nothing-found-list {
  margin-bottom: 6vh;
  font-size: 20px;
  text-decoration: underline;
  color: #337AB7;
}
.nothing-found-list:hover {
  cursor: pointer;
}

.errors-list{
  padding-left: 20vw;
  text-align: center;
  li {
    padding-top: 2vh;
  }
}

.listen-chat{
  padding-left: 20vw;
  padding-right: 1vw;
  display: flex;
  justify-content: space-between;
  .station-info-group {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    width: 40vw;

    .player-img {
      width: 40vw;
      height: 70vh;
      padding-right: 1vw;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 1vw;
    padding-left: 1vw;
    padding-right: 0.5vw;
    border: 3px solid black;
    border-radius: 5px;
    background: #F2F5F8;

    .chat-header{
      border-bottom: 2px solid grey;
    }
    .chat-list {
      padding-left: 0pt;
      height: 75vh;
      overflow: scroll;

    }
    .form-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .form-control {
        width: 90%;
      }
      .chat-icon {
          width: 32px;
          height: 32px;
          padding-left: 1vw;
          object-fit: fill;
          background-color: Transparent;
          border: none;
          background-image: url("https://res.cloudinary.com/heab4q3lg/image/upload/v1495578828/up-chevron-button_bojunh.png");
          span {
            display: none;
          }
      }
    }
  }
}



// message-detail
li {
  list-style: none;

  .message-sender{
    display: inline-block;
  }
  .message-time{
    padding-left: 5px;
    display: inline-block;
    color: grey;
    font-size: 10px;
  }

  .message-icon {
    padding-right: 5px;
  }
  .message-content{

  }
}

.img-grid {
  padding-left: 20vw;
}
.wrapper {
  max-width: 90em;
  margin: 0;
  li {
    display: inline-block;
    overflow: hidden;
    max-height: 50vh;
  }
  img {
    width: 38.5vw;
    height: 38vh;
    object-fit: cover;
  }
  .overlay-container {
    display: block;
    position: relative;
    &::before {
      content: attr(data-overlay-text);
      font: 1em/1.5em 'Segoe UI', Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      /*On top of parent*/
      top: 40%;
      width: 100%;
      text-align: center;
      color: #fff;
      background: rgba(128, 128, 128, 0.80);
      opacity: 0;
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover::before {
      opacity: 1;
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    .overlay-img {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover .overlay-img {
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}
