// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
  font-family: 'Lobster', cursive;
}

html body {
  font-family: 'Lato', sans-serif ;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

ul, li {
  margin-right: 10px;
}

label {
  text-align: left;
}

.splash-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.splash-modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 30vw;
  margin-top: 10vw;
  padding-bottom: 20px;
  background-color: #dad8d8;
  opacity: 0.85;
  border-radius: 20px;

}

.video {
 position: fixed;
 top: 50%; left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
 z-index: -1;
}

#demo-login-btn {
  margin-left: 5px;
}

.new-user-div {
  cursor: pointer;
  margin: 5px;
}

.navbar-user-info {
  cursor: pointer;
}

.navbar-user-info:hover {
  color: #5e5e5e;
}

.edit-user-form{
  display: flex;
  flex-direction: column;

  .icon-choice{
    border: 2px solid Transparent;
  }

  .icon-choice:hover {
    border-color: #5cb3fd;
    cursor: pointer;
  }

  .icon-choice-active{
    border-color: #5cb3fd;
    box-shadow: 5px 5px 5px #888888;
  }

}


.listen-chat{
  display: flex;
  .station-info-group {
    display: flex;
    flex-direction: column;
    width: 50vw;

    .player-img {
      max-width: 400px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-left: 10px;
    padding-right: 5px;
    border: 3px solid black;
    border-radius: 5px;
    background: #F2F5F8;

    .chat-header{
      border-bottom: 2px solid grey;
    }
    .chat-list {
      padding-left: 0pt;
      height: 300px;
      overflow: scroll;

    }
    .form-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .form-control {
        width: 90%;
      }
      .chat-icon {
          width: 32px;
          height: 32px;
          padding-left: 1px;
          object-fit: fill;
          background-color: Transparent;
          border: none;
          background-image: url("https://res.cloudinary.com/heab4q3lg/image/upload/v1495578828/up-chevron-button_bojunh.png");
          span {
            display: none;
          }
      }
    }
  }
}

.show-user-modal{
  display: flex;
  flex-direction: column;
}



// message-detail
li {
  list-style: none;

  .message-sender{
    display: inline-block;
  }
  .message-time{
    padding-left: 5px;
    display: inline-block;
    color: grey;
    font-size: 10px;
  }

  .message-icon {
    padding-right: 5px;
  }
  .message-content{

  }
}

.wrapper {
  max-width: 80em;
  margin: 0 auto;
  li {
    display: inline-block;
    overflow: hidden;
    max-height: 200px;
  }
  img {
    max-width: 400px;
    object-fit: cover;
  }
  .overlay-container {
    display: block;
    position: relative;
    &::before {
      content: attr(data-overlay-text);
      font: 1em/1.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: absolute;
      z-index: 1;
      /*On top of parent*/
      top: 40%;
      width: 100%;
      text-align: center;
      color: #fff;
      background: rgba(128, 128, 128, 0.80);
      opacity: 0;
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover::before {
      opacity: 1;
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    .overlay-img {
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover .overlay-img {
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}
